# SPDX-License-Identifier: Apache-2.0

name: Test Notebook Reusable Workflow

on:
  workflow_call:
    inputs:
      notebook-lists:
        description: 'Newline-separated paths of text files with newline-separated paths of notebooks to test'
        required: false
        type: string
        default: ''
      notebook:
        description: 'Newline-separated paths of notebooks to test'
        required: false
        type: string
        default: ''
      runs-on:
        description: 'Space-separated GitHub Action runner names to use'
        required: false
        type: string
        default: >-
          ubuntu-latest
      python-versions:
        description: 'Space-separated Python versions to use'
        required: false
        type: string
        default: >-
          3.11
          3.12
      pip-install:
        description: 'Space-separated dependencies to pip install'
        required: false
        type: string
        default: >-
          nbconvert
          nbclient
          ipykernel
          ipywidgets
      command:
        description: 'Newline-separated commands to test notebook'
        required: false
        type: string
        default: |
          jupyter nbconvert --to markdown --execute --stdout "$NOTEBOOK"
      ref:
        description: 'Git ref to checkout'
        required: false
        type: string
        default: ''
      all:
        description: 'Whether to test all notebooks or just changed notebooks'
        required: false
        type: boolean
        default: ${{ contains(fromJSON('["schedule","workflow_dispatch"]'), github.event_name) }}
      action:
        description: 'Path to a folder with a composite action containing additional test setup'
        required: false
        type: string
        default: ''
      free-disk-space:
        description: 'Whether to free disk space'
        required: false
        type: string
        default: ''

    secrets:
      REPLICATE_API_TOKEN:
        required: false
      WATSONX_APIKEY:
        required: false
      WATSONX_PROJECT_ID:
        required: false
      WATSONX_URL:
        required: false
      NVIDIA_API_KEY:
        required: false
      HF_TOKEN:
        required: false

env:
  LC_ALL: en_US.UTF-8
  UV_NO_PROGRESS: 'true'

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      test: ${{ inputs.all || steps.changed-files.outputs.any_changed }}
      notebooks: ${{ steps.json.outputs.notebooks }}
      runs_on: ${{ steps.json.outputs.runs_on }}
      python_versions: ${{ steps.json.outputs.python_versions }}
    steps:
      - name: "Harden Runner"
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          disable-sudo-and-containers: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            github.com:443

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ inputs.ref }}

      - name: Find all notebook files
        if: ${{ inputs.all }}
        id: all-files
        uses: tj-actions/glob@2deae40528141fc53131606d56b4e4ce2a486b29 # v22.0.2
        with:
          files-from-source-file: ${{ inputs.notebook-lists }}
          files: ${{ inputs.notebook }}

      - name: Find changed notebook files
        if: ${{ !inputs.all }}
        id: changed-files
        uses: step-security/changed-files@60967b822d3001fa82242f8d6b4ed46bc3600a68 # v47.0.1
        with:
          files_from_source_file: ${{ inputs.notebook-lists }}
          files: ${{ inputs.notebook }}

      - name: Convert inputs to JSON
        id: json
        run: |
          jq -ncr '[$ARGS.positional[] | split("\\s"; null) | map(select(. != ""))] | flatten | tostring | ("notebooks=" + .)' --args "$NOTEBOOKS" >> "$GITHUB_OUTPUT"
          jq -ncr '[$ARGS.positional[] | split("\\s"; null) | map(select(. != ""))] | flatten | tostring | ("runs_on=" + .)' --args "$RUNS_ON" >> "$GITHUB_OUTPUT"
          jq -ncr '[$ARGS.positional[] | split("\\s"; null) | map(select(. != ""))] | flatten | tostring | ("python_versions=" + .)' --args "$PYTHON_VERSIONS" >> "$GITHUB_OUTPUT"
        env:
          NOTEBOOKS: ${{ inputs.all && steps.all-files.outputs.paths || steps.changed-files.outputs.all_changed_files }}
          RUNS_ON: ${{ inputs.runs-on }}
          PYTHON_VERSIONS: ${{ inputs.python-versions }}

  test:
    needs:
      - prepare
    if: ${{ fromJSON(needs.prepare.outputs.test) }}
    strategy:
      fail-fast: false
      matrix:
        notebook: ${{ fromJSON(needs.prepare.outputs.notebooks) }}
        os: ${{ fromJSON(needs.prepare.outputs.runs_on) }}
        python: ${{ fromJSON(needs.prepare.outputs.python_versions) }}
    runs-on: ${{ matrix.os }}
    steps:
      - name: "Harden Runner"
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

      - name: Free Disk Space
        if: ${{ inputs.free-disk-space }}
        uses: jlumbroso/free-disk-space@54081f138730dfa15788a46383842cd2f914a1be # v1.3.1
        with: ${{ fromJSON(startsWith(inputs.free-disk-space, '{') && inputs.free-disk-space || '{}') }}

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ inputs.ref }}

      - name: Prepare Additional Test Setup action
        if: ${{ inputs.action && hashFiles(format('{0}/action.yml',inputs.action),format('{0}/action.yaml',inputs.action)) }}
        run: |
          mkdir -p .github/tmp/actions/test-setup
          echo '*' > .github/tmp/.gitignore
          cp -Rpv "$ACTION"/* .github/tmp/actions/test-setup
        env:
          ACTION: ${{ inputs.action }}

      - name: Additional Test Setup
        if: ${{ hashFiles('.github/tmp/actions/test-setup/action.yml','.github/tmp/actions/test-setup/action.yaml') }}
        uses: ./.github/tmp/actions/test-setup

      - name: 'Setup Python ${{ matrix.python }}'
        id: python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: ${{ matrix.python }}

      - name: 'Setup uv'
        uses: astral-sh/setup-uv@803947b9bd8e9f986429fa0c5a41c367cd732b41 # v7.2.1
        with:
          python-version: ${{ steps.python.outputs.python-version }}
          enable-cache: false

      - name: 'Compile requirements'
        run: |
          uv pip compile --no-header --output-file "$REQUIREMENTS_TXT" <(echo "$PIP_INSTALL" | xargs -n1)
          echo "REQUIREMENTS_TXT=$REQUIREMENTS_TXT" >> "$GITHUB_ENV"
          echo "UV_CONSTRAINT=$UV_CONSTRAINT" >> "$GITHUB_ENV"
          echo "PIP_CONSTRAINT=$UV_CONSTRAINT" >> "$GITHUB_ENV"
        env:
          PIP_INSTALL: ${{ format('pip setuptools {0}', inputs.pip-install) }}
          REQUIREMENTS_TXT: ${{ format('{0}/requirements.txt', runner.temp) }}
          UV_CONSTRAINT: ${{ hashFiles('constraints.txt') && format('{0}/constraints.txt', github.workspace) || '' }}

      - name: 'Cache'
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: |
            ~/.cache/huggingface
            ~/.cache/pre-commit
            ${{ env.UV_CACHE_DIR }}
          key: ${{ runner.os }}-${{ runner.arch }}-${{ steps.python.outputs.python-version }}-${{ hashFiles(matrix.notebook, env.REQUIREMENTS_TXT, '.pre-commit-config.yaml') }}

      - name: Lint ${{ matrix.notebook }}
        if: ${{ hashFiles('.pre-commit-config.yaml') }}
        run: |
          uvx --with pre-commit-uv -- pre-commit run nbstripout --files "$NOTEBOOK" --show-diff-on-failure --color=always
        env:
          NOTEBOOK: ${{ matrix.notebook }}

      - name: Test ${{ matrix.notebook }}
        run: |
          uv run --isolated --with-requirements "$REQUIREMENTS_TXT" -- ${{ inputs.command }}
          uv cache prune --ci
        env:
          NOTEBOOK: ${{ matrix.notebook }}
          GRANITE_TESTING: ${{ vars.GRANITE_TESTING }}
          REPLICATE_API_TOKEN: ${{ secrets.REPLICATE_API_TOKEN }}
          WATSONX_APIKEY: ${{ secrets.WATSONX_APIKEY }}
          WATSONX_PROJECT_ID: ${{ secrets.WATSONX_PROJECT_ID }}
          WATSONX_URL: ${{ secrets.WATSONX_URL }}
          NVIDIA_API_KEY: ${{ secrets.NVIDIA_API_KEY }}
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          HF_HUB_DISABLE_XET: ${{ vars.HF_HUB_DISABLE_XET }}
