# SPDX-License-Identifier: Apache-2.0

name: Unit Tests

on:
  push:
    branches:
      - main
    paths:
      - '**/*.py'
      - 'pyproject.toml'
      - '.github/workflows/unit-testing.yaml' # This workflow
  pull_request:
    branches:
      - main
    paths:
      - '**/*.py'
      - 'pyproject.toml'
      - '.github/workflows/unit-testing.yaml' # This workflow

env:
  LC_ALL: en_US.UTF-8

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  unit-test:
    runs-on: "${{ matrix.platform }}"
    strategy:
      matrix:
        python:
          - '3.11'
          - '3.12'
          - '3.13'
        platform:
          - 'ubuntu-latest'
    steps:
      - name: "Harden Runner"
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: 'Setup Python ${{ matrix.python }}'
        id: python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: ${{ matrix.python }}

      - name: 'Setup uv'
        uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7.1.3
        with:
          python-version: ${{ steps.python.outputs.python-version }}
          enable-cache: false

      - name: Unit tests
        run: |
          uvx --with tox-uv --with tox-gh -- tox

  lint:
    name: "${{ matrix.lint.name }}"
    runs-on: "${{ matrix.platform }}"
    strategy:
      fail-fast: false
      matrix:
        python:
          - '3.13'
        platform:
          - 'ubuntu-latest'
        lint:
          - name: 'ruff'
            commands: |
              uvx --with tox-uv -- tox -e ruffcheck
          - name: 'pylint'
            commands: |
              echo "::add-matcher::.github/workflows/matchers/pylint.json"
              uvx --with tox-uv -- tox -e pylint
          - name: 'mypy'
            commands: |
              echo "::add-matcher::.github/workflows/matchers/mypy.json"
              uvx --with tox-uv -- tox -e mypy
    steps:
      - name: "Harden Runner"
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: 'Setup Python ${{ matrix.python }}'
        id: python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: ${{ matrix.python }}

      - name: 'Setup uv'
        uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7.1.3
        with:
          python-version: ${{ steps.python.outputs.python-version }}
          enable-cache: false

      - name: "${{ matrix.lint.name }}"
        run: |
          ${{ matrix.lint.commands }}
        env:
          RUFF_OUTPUT_FORMAT: github
